# IntelliJ IDEA Files
.idea
*.iml
*.ipr
*.iws
.settings

# Eclipse Files
.classpath
.metadata
.project


#Other Files
/bin
/classes
/*.war
/target
.DS_Store
/node/
/node_modules/

# geyserizer-ui code
/*.tgz
/temp-package/
/src/main/webapp/ui/
